<nav class="navbar navbar-expand-sm navbar-dark" style="background: #0a3677">
  <div class="container">

    <a class="navbar-brand text-white" href="">Algoritmo de exclusion mutua</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <div class="navbar-nav">
        <a class="nav-item nav-link active">Tipo Centralizado</a>
      </div>

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-item nav-link active">Leonardo Hernández/Diana Morán</a>
        </li>

        
      </ul>

    </div>
  </div>
</nav> 